body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    ;
}

main {
    margin: 50px auto;
    width: 960px;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 360px auto;
    grid-template-areas: "dados-pessoais experiencias" "habilidades experiencias";
    box-shadow: black;
}

#dados-pessoais,
#habilidades,
#experiencias {
    padding: 20px;
}

#dados-pessoais {
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(163, 163, 201);
    grid-area: dados-pessoais;
}

#habilidades {
    background-color: rgb(192, 146, 146);
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    font-size: 20px;
    grid-area: habilidades;
}

#experiencias {
    background-color: rgb(248, 247, 248);
    grid-area: experiencias;
}

@media (max-width:960px) {
    main {
        margin: 0;
        width: 100%;
    }
}

@media (max-width:720px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "dados-pessoais" "habilidades" "experiencias";
    }
}


/* pesquisar grid templades areas e  */