body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    margin: 50px auto;
    width: 750px;
    height: 900px;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 360px auto;
    grid-template-areas: "dados-pessoais experiencias" "habilidades experiencias";
    box-shadow: black;
}

#dados-pessoais,
#habilidades,
#experiencias {
    padding: 20px;
}

#cabecalho {
    padding: 10px 10px;
    font-size: 15px;
    height: 445px;
    background-color: rgba(170, 170, 212, 0.808);
    grid-area: dados-pessoais;
}

#habilidades {
    padding: 5px 10px;
    background-color: rgba(192, 146, 146, 0.657);
    margin-top: 103px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    grid-area: habilidades;
}

#tabela {
    background-color: rgba(211, 211, 211, 0.555);
    color: black;
    font-weight: bold;
    padding: 5px;
}

li {
    list-style: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: underline black;
}


/* @font-face {
    font-family: Scope One;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway+Dots&display=swap');
} */

#experiencias {
    background-color: rgb(248, 247, 248);
    grid-area: experiencias;
}

@media (max-width:960px) {
    main {
        margin: 0;
        width: 100%;
    }
}

@media (max-width:720px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "dados-pessoais" "habilidades" "experiencias";
    }
}

p {
    height: 10px;
}

#habilidade-espaco {}

#trabalhos-voluntarios {
    padding-top: 0px;
}

#cursos {
    padding-top: px;
}

#nome {
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-align: center;
}

#endereco {
    text-align: center;
}

#ponto {
    list-style: circle;
}


/* pesquisar grid templades areas e  */