body {
    margin: 0px;
    padding: 0px;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
main {
    margin: 50px auto;
    width: 980px;
    display: grid;
    grid-template-columns: 410px 1fr;
    grid-template-rows: 360px auto;
    grid-template-areas: "dados-pessoais experiencias" "habilidades experiencias";
    position: relative;
}
main::before {
    height: inherit;
    position: absolute;
    content: "";
    inset: 0px;
    z-index: -1;
    background: linear-gradient(200.94deg, #b08bde8b 14.43%, #f0a1aca1 65.28%,#faf6eb 85.28%);
}
#cabecalho {
    padding: 30px 10px 0px 10px;
    font-size: 13px;
    background-color: rgba(49, 30, 30, 0.128);
    grid-area: dados-pessoais;
}
h1{
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-align: center;
}
#nome p{
    text-align: center;
    font-size: 14px;
}
#contato ul{
    padding: 0%;
}
#contato ul li{
    font-size: 14px;
    list-style: none;
    color: #000000;
    padding-bottom: 10px;
}
#imagens-contato{
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#imagens-contato a img{
    height: 30px;
    background-color: #fdfdfd23;
    border-radius: 10px;
    padding: 8px;
}
#habilidades {
    padding: 0px 10px;
    background-color: rgba(49, 30, 30, 0.128);
    color: rgb(0, 0, 0);
    font-size: 14px;
    grid-area: habilidades;
}
h3{
    color: black;
    font-weight: bold;
    padding: 5px;
    border: 1px solid rgba(2, 2, 2, 0.107);
    margin-top: 0%;
}
li {
    list-style: circle;
}
.num>li{
    list-style: decimal;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: underline rgba(0, 0, 0, 0.162);
}

#experiencias {
    padding: 20px;
}

#experiencias {
    height: 1200;
    background-color: rgb(255, 255, 255);
    grid-area: experiencias;
}

p {
    height: 10px;
}

#trabalhos-voluntarios {
    padding-top: 0px;
}


@media (max-width:960px) {
    main {
        margin: 0;
        width: 100%;
    }
}

@media (max-width:720px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "dados-pessoais" "habilidades" "experiencias";
    }
}